<div class="card">
        <div class="card-content">  
          <div class="content field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input
                class="input is-success"
                type="text"
                placeholder="Username"
                j-model="username"
                value=""
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            <footer class="card-footer">
              <button id="next" class="button is-primary mt-2">Next!</button>
            </footer>
          </div>
        </div>
      </div>